{% extends 'base_aux2.html' %}

{% block content %}

    {% if user.is_authenticated %}

            <h1 style="text-align: center">
                Balance details
            </h1>
        <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
                <div class="card p-4">
                    <div class=" image d-flex flex-column justify-content-center align-items-center">
                        <img src="../../static/images/unknown.png" style="width: 300px;" alt="logo">
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                            <span><i class="fa fa-copy"></i></span>
                        </div>
                        <div style="text-align: center">
                            Number: {{ balance.id }}<br>
                            Creation date: {{ balance.date }}<br>
                            <i>Final incomes: {{ balance.incomes }}</i><br>
                            <i>Final expenses: {{ balance.expenses }}</i><br>
                            <b>Result: {{ balance.result }}</b>
                        </div>
                        <div>
                            Incomes list:<br>
                                    {% for income in incomes %}
                                    <li>
                                    {% if income.is_bill %}
                                        Bill number
                                        <a href="{% url 'billDetailsAux' income.idBill.id %}">
                                        {{ income.idBill.id }}
                                        </a>
                                        --> {{ income.idBill.total_price }}
                                    {% else %}
                                        Ticket number
                                        <a href="{% url 'ticketDetail' balance.pk income.idTicket.pk %}">
                                        {{ income.idTicket.id }}
                                        </a>
                                        --> {{ income.idTicket.Price }}
                                    {% endif %}
                                    </li><br>
                                    {% endfor %}

                            Expenses list:<br>
                                {% for expense in expenses %}
                                    <li>
                                        Service number
                                        <a href="#">
                                        {{ expense.idService.id }}
                                        </a>
                                        --> {{ expense.idService.precio }}
                                    </li>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
         <div class="text-center pt-1 mb pb-1">
            <a class="btn btn-primary fa-lg gradient-custom-2 mb-3" href="../">Accept </a>
            <a class="btn btn-primary fa-lg gradient-custom-2 mb-3" href="#">Download </a>
        </div>

    {% endif %}

{% endblock %}