{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <ul>

            <li>
                (dejar para robert un buscador de eventos y clientes también)
            </li>



            <li>
                (añadir boton para descargar factura)
            </li>
            <li>
                (añadir botón para enviar al cliente)
            </li>
            <li>
                este boton para enviar al cliente es que el cliente tenga una
            </li>
            <li>
                seccion para ver facturas, y que le aparezca ahí dos listas:
            </li>
            <li>
                tabla con facturas pendientes de pagar
            </li>
            <li>
                tabla con facturas totales
            </li>
        </ul>

        <ul>
            Table of events. Please, select an event to generate the bill for a client
            <hr>
            {% for event in event_list %}

                <li>
                <a href="{% url 'eventSelected' event.pk %}">
                     {{ event }}
                </a>

                </li>

            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}