{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated and user.is_client %}

        {% if empty_bills == True %}
            <h1>Oops! Seems like you don't have any bill yet</h1>
        {% else %}
            <h1>These are your bills</h1>
            <hr>
            {% if empty_unpaid_bills == True %}
                <h3>You don't have any unpaid bill</h3>
                <hr>
            {% else %}

                <table class="table">
                    <thread>
                        <br><br>
                        <p style="text-align:center">
                            <b>
                                Bills unpaid
                            </b>
                        </p>
                        <hr>
                        <tr style="text-align:center">
                            <th scope="col">
                                Id
                            </th>
                            <th scope="col">
                                Event
                            </th>
                            <th scope="col">
                                Bill creation date
                            </th>
                            <th scope="col">
                                Price
                            </th>
                            <th scope="col">
                                Paid
                            </th>
                            <th scope="col">
                                Pay?
                            </th>
                        </tr>
                    </thread>
                    <tbody style="text-align:center">


                    {% for bill in unpaid_client_bills %}

                        <tr style="text-align:center">
                        <td>
                            {{ bill.pk }}
                        </td>
                        <td>
                            {{ bill.idEvent }}
                        </td>
                        <td>
                            {{ bill.date }}
                        </td>
                        <td>
                            {{ bill.total_price }}
                        </td>
                        <td>
                            {{ bill.payed }}
                        </td>
                        <td>
                            <a href="{% url 'payBill' bill.pk %}">
                                Pay
                            </a>
                        </td>

                    {% endfor %}


                    </tr>
                    </tbody>
                </table>
            {% endif %}

            <table class="table">
                <thread>
                    <br><br>
                    <p style="text-align:center">
                        <b>
                            All bills
                        </b>
                    </p>
                    <hr>
                    <tr style="text-align:center">
                        <th scope="col">
                            Id
                        </th>
                        <th scope="col">
                            Event
                        </th>
                        <th scope="col">
                            Bill creation date
                        </th>
                        <th scope="col">
                            Price
                        </th>
                        <th scope="col">
                            Paid
                        </th>
                    </tr>
                </thread>
                <tbody style="text-align:center">


                {% for bill in client_bills %}

                    <tr style="text-align:center">
                    <td>
                        {{ bill.pk }}
                    </td>
                    <td>
                        {{ bill.idEvent }}
                    </td>
                    <td>
                        {{ bill.date }}
                    </td>
                    <td>
                        {{ bill.total_price }}
                    </td>
                    <td>
                        {{ bill.payed }}
                    </td>

                {% endfor %}


                </tr>
                </tbody>
            </table>
        {% endif %}






    {% endif %}

{% endblock %}