{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

    {% if created == True %}
        Oops! Bill already created!
        <br>
        <a href="{% url 'prepareBill' event.pk client.pk %}">
        Return
        </a>

    {% else %}

      <p>
      <b>
          BILL CREATED!
      </b>
      </p>

        <table class="table">
            <thread>
                <br><br>
                <p style="text-align:center">
                    <b>
                        Bill details for client {{ client }} in event {{ event }} during {{ event.fecha_ini }}
                        - {{ event.fecha_ini }}
                    </b>
                </p>
                <hr>
                <tr style="text-align:center">
                    <th scope="col">
                        Id
                    </th>
                    <th scope="col">
                        Client
                    </th>
                    <th scope="col">
                        Event
                    </th>
                    <th scope="col">
                        Bill creation date
                    </th>
                    <th scope="col">
                        Price
                    </th>
                    <th scope="col">
                        Payed
                    </th>
                </tr>
            </thread>
            <tbody style="text-align:center">

            <tr style="text-align:center">
                <td>
                    {{ bill.pk }}
                </td>
                <td>
                    {{ bill.clientUsername }}
                </td>
                <td>
                    {{ bill.idEvent }}
                </td>
                <td>
                    {{ bill.date }}
                </td>
                <td>
                    {{ bill.total_price }}
                </td>
                <td>
                    {{ bill.payed }}
                </td>
            </tr>
            </tbody>
        </table>

        <a href="{% url 'bills' %}">
            ACCEPT
        </a>
        <br>
        <a href="pdf">
            SAVE PDF
        </a>

    {% endif %}

    {% endif %}

{% endblock %}