<!-- templates/events.html -->

{% include 'base.html' %}
  {% load static %}
{% block title %}
    <div>
        <h1 style="text-align:center">
            Events
        </h1>
    </div>
{% endblock title %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Buscar Evento
            </button>
        </form>
    </div>
    <div>
        {% for evento in eventos %}
         <div class="margins" style="float: left;margin: 0 1em 0 1em;">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ evento.nombre }}</h5>
                    <p class="card-text">{{ evento.descripcion }}</p>
                    <p class="card-text">{{ evento.fecha_ini }}</p>
                    <p class="card-text">{{ evento.fecha_fin }}</p>
                    <a href="{{ evento.id }}/stands" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}


