{% extends 'base_aux.html' %}

{% block content %}
    <br>
    <h1 style="text-align: center">Incidences related with Additional Services</h1>


    <table class="table">
        <thread>
            <br><br>
            <p style="text-align:center">
                <b>
                    All category incidences
                </b>
            </p>
            <hr>
            <tr style="text-align:center">
                <th scope="col">
                    Number
                </th>
                <th scope="col">
                    Event
                </th>
                <th scope="col">
                    Stand related
                </th>
                <th scope="col">
                    Client name
                </th>
                <th scope="col">
                    Additional service incidenced
                </th>
                <th scope="col">
                    Incidence Description
                </th>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Checked
                </th>
                <th scope="col">
                    Solved
                </th>
            </tr>
        </thread>
        <tbody style="text-align:center">
        <tr style="text-align:center">
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.id }}
                </a>

            </td>
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.idEvento }}
                </a>
            </td>
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.idStand }}
                </a>
            </td>
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.clientUsername }}
                </a>
            </td>
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.idAdditionalService }}
                </a>
            </td>
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.descripcion }}
                </a>
            </td>
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.fecha }}
                </a>
            </td>
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.solucionado }}
                </a>
            </td>
            <td>
                <a href="{% url 'incidences_details_edit' incidence.pk %}">
                    {{ incidence.checked }}
                </a>
            </td>
        </tr>


        </tbody>

    </table>


{% endblock %}