{% extends 'base.html' %}


{% block content %}

<ul>
    ddfdffdfdfdfdf
    What do you want to do now?
    <li>
        <a href="{% url 'send_stand_incidence' %}">
            Send an incidence with my stand
        </a>
    </li>
    <li>
        <a href="{% url 'previous_incidences' %}">
            Check status of current incidences
        </a>
    </li>
    <li>
        sasasasasasas
    </li>
</ul>


<div>
    <p>
        aqui vamos a ver send stand incidence
    </p>
</div>
<div>
    <p>
        aqui vamos a ver las previous incidences
    </p>
</div>


{% endblock %}

