{% extends 'base.html' %}


{% block content %}


    <div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Submit">
            </form>

        </div>
        <div>
            <p>
                PARA VICTOR: LA IDEA ES QUE EL FORM SE VEA A LA IZQUIERDA, Y LA INFO DE ABAJO A LA DERECHA.
                SI VES QUE NO PUEDES, DEJALO ASI UNO DEBAJO DEL OTRO.
            </p>

            <table class="table">
                <thread>
                    <br><br>
                    <p style="text-align:center">
                        <b>
                            Previous incidences
                        </b>
                    </p>
                    <hr>
                    <tr style="text-align:center">
                        <th scope="col">
                            Number
                        </th>
                        <th scope="col">
                            Event
                        </th>
                        <th scope="col">
                            Stand related
                        </th>
                        <th scope="col">
                            Staff name
                        </th>
                        <th scope="col">
                            Additional service incidenced
                        </th>
                        <th scope="col">
                            Incidence Description
                        </th>
                        <th scope="col">
                            Date
                        </th>
                        <th scope="col">
                            Checked
                        </th>
                        <th scope="col">
                            Solved
                        </th>
                    </tr>
                </thread>
                <tbody style="text-align:center">
                {% for incidence in incidences %}

                    {% if incidence.clientUsername.User.username == User %}

                        <tr style="text-align:center">
                            <td>
                                {{ incidence.id }}
                            </td>
                            <td>
                                {{ incidence.idEvento }}
                            </td>
                            <td>
                                {{ incidence.idStand }}
                            </td>
                            <td>
                                {{ incidence.deptAdditionalServUsername }}
                            </td>
                            <td>
                                {{ incidence.idAdditionalService }}
                            </td>
                            <td>
                                {{ incidence.descripcion }}
                            </td>
                            <td>
                                {{ incidence.fecha }}
                            </td>
                            <td>
                                {{ incidence.solucionado }}
                            </td>
                            <td>
                                {{ incidence.checked }}
                            </td>
                        </tr>

                    {% endif %}

                {% endfor %}

                </tbody>

            </table>

        </div>
    </div>


{% endblock %}