{% extends 'base_aux2.html' %}
  {% load static %}


{% block content %}
    <br>
    <div>
        <h1 style="text-align:center">
            Additional Services Incidence
        </h1>
    </div>
    <hr>
     <div class="container">
            <div class="row ">
          <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <i style="text-align: center">*Client issue</i>
                <div class="card-body bg-light">
                    <div class = "container">
                        <form action="" method="post" id="formI">
                            {% csrf_token %}
                            <div class="controls">
                                 <div class="row">
                                     <div class="col-md-12" style="text-align: center">
                                        <div class="form-group">
                                            <label for="form_need">Issue category</label><br>
                                                {{form.category}}
                                        </div>
                                    </div>
                                 </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6" style="text-align: center">
                                        <div class="form-group">
                                            <label for="form_need">Please specify the stand</label><br>
                                                {{form.idStand}}
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <div class="form-group">
                                            <label for="form_need">Please specify the event</label><br>
                                                {{ form.idEvento }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="text-align: center">
                                            <label for="form_message">Client name</label><br>
                                             {{ form.clientUsername }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="text-align: center">
                                            <label for="form_message">Additional Service ID</label><br>
                                             {{ form.idAdditionalService }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="text-align: center">
                                            <label for="form_message">Description</label><br>
                                             {{ form.descripcion }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="text-align: center">
                                            <label for="form_message">Date</label><br>
                                             {{ form.fecha }}
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-6" style="text-align: center">
                                        <br>
                                        <label for="form_message">Solved? </label>  {{ form.solucionado }}
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <br>
                                        <label for="form_message">Checked?</label>  {{ form.checked }}
                                    </div>
                                    <div class="col-md-12" style="text-align: center">
                                        <br>
                                        <button type="submit" class="btn btn-primary btn-send  pt-2 btn-block"> Send resolved issue </button>
                                    </div>
                                </div>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>



{% endblock content %}