{% extends 'base.html' %}


{% block content %}

<ul>
    What do you want to do now?
    <li>
        <a href="{% url 'send_stand_incidence' %}">
            Send an incidence with my stand
        </a>
    </li>
    <li>
        <a href="{% url 'previous_incidences' %}">
            Check status of current incidences
        </a>
    </li>
</ul>

<div>
    <div align="left">
        <p>
            aqui vamos a ver send stand incidence
        </p>
    </div>
    <div align="right">
        <p>
            aqui vamos a ver las previous incidences
        </p>
    </div>
</div>



{% endblock %}

