{% include 'base_aux.html' %}
  {% load static %}
{% block title %}
    <br>
    <div>
        <h1 style="text-align:center">
            Stand incidence
        </h1>
    </div>
{% endblock title %}

{% block content %}
    <hr>

     <div class="container">
            <div class="row ">
          <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <i style="text-align: center">*Client incidence</i>
                <div class="card-body bg-light">
                    <div class = "container">
                        <form action="" method="post" id="formI">
                            {% csrf_token %}
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6" style="text-align: center">
                                        <div class="form-group">
                                            <label for="form_need">Please specify the stand</label><br>
                                                {{form.Stand_Incidenced }}
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <div class="form-group">
                                            <label for="form_need">Please specify the event</label><br>
                                                {{ form.Current_Event }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="text-align: center">
                                            <label for="form_message">Client name</label><br>
                                             {{ form.Client_Username }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="text-align: center">
                                            <label for="form_message">Date</label><br>
                                             {{ form.Date }}
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align: center">
                                        <br>
                                        <label for="form_message">Description </label> <br> {{ form.Description }}
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <br>
                                        <label for="form_message">Status </label>  {{ form.Status }}
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <br>
                                        <label for="form_message">Checked</label>  {{ form.Checked }}
                                    </div>
                                    <div class="col-md-12" style="text-align: center">
                                        <br>
                                        <button type="submit" class="btn btn-primary btn-send  pt-2 btn-block"> Send resolved issue </button>
                                    </div>
                                </div>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}