<!-- templates/home.html -->

{% include 'base.html' %}
  {% load static %}
{% block title %}
    <div>
        <h1 style="text-align:center">
            Lista Eventos para las peticiones de stand
        </h1>
    </div>
{% endblock title %}

{% block content %}
    <div>
        <ul>
        {% for evento in eventos %}
            <li>
                <a href="../lista_peticiones_serv_adicional/{{evento.id}}/">Nombre del evento: {{ evento.nombre }}.
                Descripcion: {{ evento.descripcion }}. Fecha de inicio: {{ evento.fecha_ini }}.
                    Fecha de finalizacion: {{ evento.fecha_fin }}
                </a>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}