<!-- templates/home.html -->

{% include 'base.html' %}
  {% load static %}
{% block title %}
    <div>
        <h1 style="text-align:center">
            Lista peticiones de stand
        </h1>
    </div>
{% endblock title %}

{% block content %}
    <div>
        <ul>
        {% for peticion in peticiones %}
            <li>
                <a href="../peticion_stand_gestor/{{peticion.id}}/">idPeticion: {{ peticion.id }}. clientUsername: {{ peticion.clientUsername }}.</a>

            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}