<!-- templates/home.html -->

{% include 'base.html' %}
  {% load static %}
{% block title %}
    <br>
    <div>
        <h1 style="text-align:center">
            Request stand list
        </h1>
    </div>
{% endblock title %}

{% block content %}
    <hr>
    <table class="table">
        <thread>
            <br><br>
            <p style="text-align:center">
                <b>
                    All revised stand requests
                </b><br>
            </p>
            <hr>
            <tr style="text-align:center">
                <th scope="col">
                    Number
                </th>
                 <th scope="col">
                    Client
                </th>
                <th scope="col">
                    Stand
                </th>
                <th scope="col">
                    Event
                </th>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Request Status
                </th>
            </tr>
        </thread>
        <tbody style="text-align:center">
            {% for peticion in peticiones %}
                    <tr style="text-align:center">
                        <td>
                           {{ peticion.id }}
                        </td>
                        <td>
                            {{ peticion.clientUsername }}

                        </td>
                        <td>
                            {{ peticion.idStand }}

                        </td>
                        <td>
                            {{ peticion.idEvento }}

                        </td>
                        <td>
                            {{ peticion.fecha }}

                        </td>
                         <td>
                            {{ peticion.estado_peticion }}

                        </td>

                    </tr>


            {% endfor %}

        </tbody>

    </table>
{% endblock content %}