<!-- templates/home.html -->

{% include 'base.html' %}
  {% load static %}
{% block title %}
    <div>
        <h1 style="text-align:center">
            Lista peticiones de servicio adicional
        </h1>
    </div>
{% endblock title %}

{% block content %}
    <div>
        <a class="ml-1" href="{% url 'peticion_serv_adicional_cliente' %}">  <!--Warning-->
            Peticion nueva
        </a>
    </div>
    <div>
        <ul>
        {% for peticion in peticiones %}
            <li>
                Peticion numero: {{ peticion.id }}. cliente: {{ peticion.clientUsername }}.
                Stand: {{ peticion.idStand }}. Evento: {{ peticion.idEvento }}. Fecha: {{ peticion.fecha }}
                estadoPeticion: {{ peticion.estado_peticion }}
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock content %}