{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <ul>
            aqui vamos a ver el balance mensual de gastos y cobros



            <li>
                tener dos enlaces: uno a la lista de facturas generadas este mes
                (pudiendo destacar las que están pagadas).
                Otro enlace a un buscador con las facturas totales
            </li>

            <li>
                <b>
                    podemos hacer un balance temporal: que la vista calcule lo que llevamos de momento, pero no se puede
                    guardar ni nada, porque es provisional.
                </b>
            </li>
            <li>
                si clicamos en uno de los balances, podemos ver los detalles de la lista de gastos y la de ganancias
            </li>
        </ul>

        {% if empty == True %}
            Oops! There are no balances generated yet.
        {% else %}
            <table class="table">
                <thread>
                    <br><br>
                    <p style="text-align:center">
                        <b>
                            DOCUMENTS GENERATED
                        </b>
                    </p>
                    <hr>
                    <tr style="text-align:center">
                        <th scope="col">
                            Number
                        </th>
                        <th scope="col">
                            Month
                        </th>
                        <th scope="col">
                            Result
                        </th>

                    </tr>
                </thread>
                <tbody style="text-align:center">
                {% for balance in balance_list %}

                    <tr style="text-align:center">

                    <td>
                        <a href="{% url 'balanceDetails' balance.id %}">
                            {{ balance.id }}
                        </a>

                    </td>
                    <td>
                        <a href="{% url 'balanceDetails' balance.id %}">
                            {{ balance.date }}
                        </a>

                    </td>
                    <td>
                        <a href="{% url 'balanceDetails' balance.id %}">
                            {{ balance.result }}
                        </a>

                    </td>




                {% endfor %}

                </tbody>
            </table>
        {% endif %}





    {% endif %}

{% endblock %}