<!-- templates/home.html -->

{% include 'base.html' %}
  {% load static %}
{% block title %}
    <div>
        <h1 style="text-align:center">
            Additional service request
        </h1>
    <hr>
    </div>
{% endblock title %}

{% block content %}

    <div class="container">
            <div class="row ">
          <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <i style="text-align: center">*Tell us what you need</i>
                <div class="card-body bg-light">
                    <div class = "container">
                        <form action="" method="post" id="formI">
                            {% csrf_token %}
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6" style="text-align: center">
                                        <div class="form-group">
                                            <label for="form_need">Please specify you stand</label><br>
                                                {{form.idStand}}
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <div class="form-group">
                                            <label for="form_need">Please specify the event</label><br>
                                                {{ form.idEvento }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" style="text-align: center">
                                            <label for="form_message">Select the additional service needed</label><br>
                                             {{ form.idAdditionalService }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="text-align: center">
                                            <label for="form_message">Select date</label><br>
                                             {{ form.fecha }}
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align: center">
                                        <br>
                                        <label for="form_message">Extra?</label>  {{ form.extra }}
                                    </div>
                                    <div class="col-md-12" style="text-align: center">
                                        <br>
                                        <button type="submit" class="btn btn-primary btn-send  pt-2 btn-block"> Send Request </button>
                                    </div>
                                </div>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}