{% extends 'base_aux3.html' %}

{% block content %}

    {% if user.is_authenticated %}

        <table class="table">
            <thread>
                <br><br>
                <p style="text-align:center">
                        <h1 style="text-align: center">BILL'S PREVIOUS VIEW</h1>
                        <br>
                        <div style="text-align: center">
                        (Your bill will be automatically sent to the client)
                    <br>
                    <b>
                        Client {{ client }} expenses in event {{ event }} during {{ event.fecha_ini }}
                        - {{ event.fecha_ini }}
                    </b>
                            </div>
                </p>
                <hr>
                <tr style="text-align:center">
                    <th scope="col">
                        Number
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Price
                    </th>
                    <th>
                        TOTAL PRICE
                    </th>
                </tr>
            </thread>
            <tbody style="text-align:center">
            {% for stand in stands_requested %}
                <tr style="text-align:center">
                <td>
                    {{ stand.pk }}
                </td>
                <td>
                    {{ stand.idStand.description }}
                </td>
                <td>
                    {{ stand.idStand.price }}
                </td>
            {% endfor %}
            {% for service in services_requested %}
                <tr style="text-align:center">
                <td>
                    {{ service.idAdditionalService.pk }}
                </td>
                <td>
                    {{ service.idAdditionalService.nombre }}
                </td>
                <td>
                    {{ service.idAdditionalService.precio }} + {{ service.cargoExtra }}
                </td>
            {% endfor %}
            <tr style="text-align:center">
                <td>
                    -----
                </td>
                <td>
                    -----
                </td>
                <td>
                    -----
                </td>
                <td>
                    {{ total_price }}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center pt-1 mb-5 pb-1">
            <a class="btn btn-primary fa-lg gradient-custom-2 mb-3" href="{% url 'createBill' event.pk client.pk %}">Create </a>
            <a class="btn btn-primary fa-lg gradient-custom-2 mb-3" href="pdf">Download </a>
            <a class="btn btn-primary fa-lg gradient-custom-2 mb-3" href="{% url 'eventSelected' event.pk %}">Return </a>
        </div>

    {% endif %}


{% endblock %}