{% extends 'base.html' %}

{% block content %}
<br>

    <h1 style="text-align: center">What is your request?</h1>
    <hr>
        <div style="text-align: center">
            <a class="btn btn-lg btn-primary" style="width:700px; margin-inline: auto" href="{% url 'request' %}" role="button">Stands</a>
        </div>
    <br><br>
        <div style="text-align: center">
            <a class="btn btn-lg btn-primary" style="width:700px; margin-inline: auto" href="{% url 'lista_peticiones_serv_adicional_cliente' %}" role="button">Additional services</a>
        </div>
        </li>



{% endblock %}