{% extends 'base.html' %}

{% block content %}
<br>

    <h1 style="text-align: center">How do you want to add services</h1>
    <hr>
        <div style="text-align: center">
            <a class="btn btn-lg btn-primary" style="width:700px; margin-inline: auto" href="{% url 'añadir_servicio_adicional' %}" role="button">Single additional service add</a>
        </div>
    <br><br>
        <div style="text-align: center">
            <a class="btn btn-lg btn-primary" style="width:700px; margin-inline: auto" href="{% url 'additional_services' %}" role="button">Using a file</a>
        </div>
        </li>



{% endblock %}