{% extends 'base.html' %}

{% block content %}
<br>

    <h1 style="text-align: center">What is your issue?</h1>
    <hr>
        <div style="text-align: center">
            <a class="btn btn-lg btn-primary" style="width:700px; margin-inline: auto" href="{% url 'incidences' %}" role="button">Incidences with stands</a>
        </div>
    <br><br>
        <div style="text-align: center">
            <a class="btn btn-lg btn-primary" style="width:700px; margin-inline: auto" href="{% url 'send_incidence_additionalServ_client' %}" role="button">Incidences with additional services</a>
        </div>
        </li>



{% endblock %}