{% extends 'base.html' %}

{% block content %}

    bueno pues aqui vamos a enviar una stand request
    <ul>
        <li>
            seleccionamos evento
        </li>
        <li>
            ponemos cuantos stands queremos
        </li>
        <li>
            vemos la distribución de stands y seleccionamos 
            el numero de stands que hemos puesto
        </li>
        <li>
            enviamos la request y esperamos a que nos contesten
        </li>
    </ul>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}