{% include 'base_aux.html' %}
  {% load static %}
<link href="{% static 'css/margins.css' %}" rel="stylesheet">
{% block title %}

    <div>
        <h1 style="text-align:center">
            List stands for event {{ event_name }}
        </h1>
    </div>

    {% endblock title %}
    {% block content %}
    <ul>
    <div style="width: 80%">
        {% for stand in object_list %}
            {% if stand.occupied == True %}
                <div style="float: left;margin: 1em 1em 1em 1em;border: 1px solid #000;background-color: red;">
                    <p>Stand: {{ stand.id}} </p>
                <br>
                    <p>Descripción: {{ stand.description }}</p>
                 </div>
            {% else %}
                <div style="float: left;margin: 1em 1em 1em 1em;border: 1px solid #000;background-color: green;">
                    <p>Stand: {{ stand.id}} </p>
                <br>
                    <p>Descripción: {{ stand.description }}</p>
                 </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endblock content %}

{% if somevar < 100 %}
  This appears if variable somevar is less than 100.
{% endif %}